<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Farm </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-green-300 text-center p-5 bg-cover bg-center min-h-screen flex flex-col justify-center items-center" style="background-image: url('/static/img/S__11485187.jpg');">
    <nav class="w-full bg-[#23c48e] py-4 px-6 fixed top-0 left-0 flex items-center text-black shadow-md">
        <a href="{% url 'index' %}" class="text-2xl font-bold">&#x2190;</a>
        <span class="ml-4 text-lg font-semibold">Home</span>
    </nav>
    <div class="w-full max-w-lg p-6 mt-20 bg-white bg-opacity-10 backdrop-blur-lg rounded-lg text-white text-center shadow-lg ">
        <h1 class="text-4xl font-bold mb-4">Smart Farm</h1>
        
        <div class="space-y-4">
            <a href="{% url 'weather' %}" class="block w-full px-6 py-3 bg-[#23c48e] text-black rounded hover:bg-blue-400 transition font-semibold text-center">View Weather</a>
        </div>
    </div>
</body>
</html>
